@import url(../fonts/news-cycle/news-cycle.css);

.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.0);
  border: 0px solid #222;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.0); }

.reveal {
  font-family: 'News Cycle', Helvetica, sans-serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: 'News Cycle', Helvetica, sans-serif;
  text-transform: none;
}


.lecture-given {
    visibility:visible;
}

.lecture-not-given {
    visibility:hidden;
}
